@{
    ViewBag.Title = "SySSensor - Dashboard";
}

<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Sensor Logs
                </h3>
            </div>
            <div class="panel-body">
                <div id="sensor-logs-chart"></div>
                <div id="legend" class="chart-legend"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            "use strict";
            var url = 'api/logs/get-logs';
            $.get(url, function (result) {
                var thchart = Morris.Line({
                    // ID of the element in which to draw the chart.
                    element: 'sensor-logs-chart',
                    // Chart data records -- each entry in this array corresponds to a point on
                    // the chart.
                    data: result,
                    // The name of the data record attribute that contains x-values.
                    xkey: 'Date',
                    ykeys: ['Temperature', 'Humidity'],
                    labels: ['Temperatura', 'Humedad'],
                    xLabels: 'minute',
                    lineColors: ['rgb(249, 87, 30)', 'rgb(0, 203, 255)'],
                    pointSize: 2,
                    hideHover: 'auto',
                    resize: true
                });

                thchart.options.labels.forEach(function (label, i) {
                    var legendItem = $('<span></span>').text(label).prepend('<br><span>&nbsp;</span>');
                    legendItem.find('span')
                      .css('backgroundColor', thchart.options.lineColors[i])
                      .css('width', '20px')
                      .css('display', 'inline-block')
                      .css('margin', '5px');
                    $('#legend').append(legendItem);
                });


            });
        });
    </script>
}
